html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        title #{title} | Library Details
    body
        header#header
        div.header-content
            h2#site-name
            a(href="/") Library Branch Details
        main#main
        h1 #{branch.name}
        p Address: #{branch.address}
        p Phone: #{branch.phone}



